
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
builds/

 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Win32

# =============== #
# Jetbrains Rider #
# =============== #
/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta
/.idea
